<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISaverServiceContract" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9090/Service" binding="basicHttpBinding"
               
                contract="SaverReference.ISaverServiceContract" name="BasicHttpBinding_ISaverServiceContract" />
        </client>
    </system.serviceModel>
</configuration>