<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ENV" value="DEV" />
    <add key="CheckInterval" value="10000" />
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISaverServiceContract" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9090/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISaverServiceContract"
                contract="SaverReference.ISaverServiceContract" name="BasicHttpBinding_ISaverServiceContract" />
        </client>
    </system.serviceModel>
</configuration>