CREATE DATABASE [EddyScoresDB] ON  PRIMARY 
( NAME = N'EddyScoresDB', FILENAME = N'c:\EddyScores\EddyScoresDB.mdf' , SIZE = 2048KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EddyScoresDB_log', FILENAME = N'c:\EddyScores\EddyScoresDB_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [EddyScoresDB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [EddyScoresDB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
