<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ScoresDB_DEV" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EddyScoresDB;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="ENV" value="DEV" />
    <add key="Port" value="9090" />
    
  </appSettings>
</configuration>